@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
    .header-nav {
        display: none;
    }
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .block {
        flex-wrap: wrap;
    }
    .music {
        flex-wrap: wrap;
    }
    .footer-nav {
        display: none;
    }
    .ion {
        position: absolute;
        bottom: -434px;
        right: 226px;
        font-size: 28px;
        color: white;
    }
    .figurs {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: -422px;
        left: 147px;
    }
    .figur {
        position: absolute;
        bottom: -295px;
        right: 447px;
        width: 12px;
        height: 11px;
        background: #FFFFFF;
    }


}
@media (max-width: 992px) {
    .number {
        flex-wrap: wrap;
    }

}
@media (max-width: 768px) {
    .blocks h1 {
        font-size: 20px;
    }
    .blocks {
        width: 684px;
    }
    .hero-img img {
        width: 90%;
    }
    .header-price {
        flex-direction: column;
        width: 180px;
    }
    .hero-bg {
        left: 30px;
    }
    .hero-img-title {
        bottom: 105px;
        right: 88px;
    }
    .hero-drone {
        bottom: 62px;
        left: -47px;
    }
    .figur {
        bottom: -251px;
        right: 273px;
    }
    .figurs {
        bottom: -370px;
        left: 100px;
    }
    .ion {
        bottom: -388px;
        right: 94px;
        font-size: 26px;
    }

}
@media (max-width: 576px) {
    .hero-title button {
        width: 172px;
        height: 49px;
        font-size: 12px;
    }
    .hero-img img {
        width: 70%;
    }

    .hero-bg {
            left: 106px;
        }
    .hero-drone {
        bottom: 141px;
        left: -31px;
    }
    .hero-drone img {
        width: 70%;
    }
    .hero-drone {
        bottom: 159px;
        left: -40px;
    }
    .hero-img-title {
        bottom: 183px;
        right: 122px;
    }
    .hero-img-title h1 {
        font-size: 14px;
    }
    .hero-img-title p {
        font-size: 10px;
    }
    .hero-img-title h2 {
        font-size: 10px;
    }
    .figur {
        bottom: -172px;
        right: 197px;
    }
    .figurs {
        bottom: -275px;
        left: 68px;
    }
    .ion {
        bottom: -297px;
        right: 59px;
        font-size: 24px;
    }
    .blocks {
        flex-direction: column;
        width: 547px;
    }
    .blocks h1 {
        padding-bottom: 20px;
    }
    .block {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .line {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-left: 50px;
    }
    .music-left img    {
        width: 101%;
    }
    .music-left-title {
        bottom: 139px;
        left: 114px;
    }
    .music-figur1 {
        top: 165px;
        left: 82px;
        width: 20px;
        height: 20px;
    }
    .music-figur2 {
        top: 51px;
        left: 405px;
        width: 20px;
        height: 20px;
    }
    .music-right img    {
        width: 101%;
    }

    .music-right-title h1  {
       font-size: 22px;
    }
    .music-right-title {
        top: 232px;
        left: 126px;
    }
    .music-icon1 {
        top: 204px;
        left: 92px;
        width: 20px;
        height: 20px;
    }
    .music-icon2 {
        top: 56px;
        left: 405px;
        width: 20px;
        height: 20px;
    }
    .catalog {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .number h1 {
        font-size: 40px;
    }
    .number p {
        font-size: 12px;
        padding: 0 9px;
    }
    .number {
        width: 499px;
    }
    .footer-right a  {
        display: none;
    }
}
@media (max-width: 451px) {
    .hero-title h1 {
        font-size: 30px;
    }

    .hero-title p {
        font-size: 15px;
    }

    .hero-title button {
        width: 150px;
        height: 42px;
        font-size: 10px;
    }

    .hero-img img {
        width: 60%;
        margin-left: 35px;
    }

    .hero-drone img {
        width: 50%;
    }

    .hero-drone {
        bottom: 229px;
        left: -78px;
    }

    .hero-img-title {
        bottom: 220px;
        right: 166px;
    }

    .hero-img-title h1 {
        font-size: 14px;
    }

    .hero-img-title p {
        font-size: 9px;
    }

    .hero-img-title h2 {
        font-size: 9px;
    }

    .figur {
        bottom: -132px;
        right: 162px;
    }

    .figurs {
        bottom: -228px;
        left: 39px;
        width: 133px;
    }

    .ion {
        bottom: -240px;
        right: 29px;
        font-size: 20px;
    }

    .blocks {
        flex-direction: column;
        width: 413px;
    }

    .music-left-title h1 {
        font-size: 22px;
    }

    .music-left-title p {
        font-size: 14px;
    }

    .music-left-title {
        bottom: 110px;
        left: 81px;
    }
    .music-figur1 {
        top: 120px;
        left: 55px;
        width: 18px;
        height: 18px;
    }
    .music-icon1 {
        top: 158px;
        left: 56px;
        width: 18px;
        height: 18px;
    }
    .music-right-title h1 {
        font-size: 20px;
    }
    .music-right-title p {
        font-weight: 400;
        font-size: 14px;
        line-height: 135.9%;
        color: #FFFFFF;
    }
    .music-right-title {
        top: 180px;
        left: 81px;
    }
    .music-figur2 {
        top: 37px;
        left: 318px;
        width: 20px;
        height: 20px;
    }
    .music-icon2 {
        top: 46px;
        left: 348px;
        width: 20px;
        height: 20px;
    }
    .catalog-title {
        font-weight: 900;
        font-size: 23px;
        color: #2A2D46;
        padding: 60px 0;
    }
    .card {
        width: 202px;
        height: 426px;
        background: #d5d5d5;
        padding: 0 30px;
        margin: 20px 0;
    }
    .number-title {
        font-weight: 900;
        font-size: 22px;
        color: #2A2D46;
        padding: 50px 0;
    }
    .number h1 {
        font-size: 36px;
    }
    .number p {
        font-size: 10px;
        padding: 0 2px;
    }
    .number {
        width: 414px;
    }

}
@media (max-width: 400px) {
    .hero-title h1 {
        font-size: 28px;
    }

    .hero-title p {
        font-size: 14px;
    }

    .hero-title button {
        width: 127px;
        height: 31px;
        font-size: 9px;
    }

    .hero-img img {
        width: 50%;
        margin-left: 70px;
    }

    .hero-drone img {
        width: 40%;
    }

    .hero-drone {
        bottom: 48px;
        left: -116px;
    }

    .hero-img-title {
        bottom: 32px;
        right: 194px;
    }

    .hero-img-title h1 {
        font-size: 11px;
    }

    .hero-img-title p {
        font-size: 8px;
    }

    .hero-img-title h2 {
        font-size: 8px;
    }

    .figur {
        bottom: -89px;
        right: 148px;
    }

    .figurs {
        bottom: -176px;
        left: 46px;
        width: 115px;
        /* height: 15px; */
    }

    .ion {
        bottom: -185px;
        right: 33px;
        font-size: 18px;
    }
    .hero-img {
        height: 244px;
    }
    .blocks {
        width: 372px;
        font-size: 1px;
    }
    .card h1 {
        font-size: 15px;
    }
    .card img {
        width: 70%;
    }
    .card-title-left p {
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        color: #2C3BA0;
    }
    .card-title-right p {
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        color: #646986;
    }
    .card-title {
        padding: 20px 2px;
    }
    .card-price h2 {
        font-size: 14px;
    }
    .card-price a {
        font-size: 24px;
    }
    .card {
        height: 356px;
    }
    .line {
        width: 75%;
        margin-left: 48px;
    }
    .music-left-title {
        bottom: 95px;
        left: 72px;
    }
    .music-left-title h1 {
        font-size: 18px;
    }
    .music-left-title p {
        font-size: 12px;
    }
    .music-figur1 {
         top: 113px;
         left: 51px;
         width: 16px;
         height: 16px;
     }
    .music-figur2 {
        top: 34px;
        left: 280px;
        width: 16px;
        height: 16px;
    }
    .music-right-title h1 {
        font-size: 16px;
    }
    .music-right-title p {
        font-weight: 400;
        font-size: 12px;
        line-height: 135.9%;
        color: #FFFFFF;
    }
    .music-icon1 {
        top: 158px;
        left: 52px;
        width: 16px;
        height: 16px;
    }
    .music-right-title {
        top: 175px;
        left: 74px;
    }
    .music-icon2 {
        top: 42px;
        left: 306px;
        width: 16px;
        height: 16px;
    }
    .catalog-title {
        font-weight: 900;
        font-size: 21px;
        color: #2A2D46;
        padding: 60px 0;
    }
    .number-title {
        font-weight: 900;
        font-size: 18px;
        color: #2A2D46;
        padding: 50px 0;
    }
    .number h1 {
        font-size: 32px;
    }
    .number p {
        font-size: 10px;
        padding: 0 2px;
    }
    .number {
        width: 361px;
    }
    .footer img {
        width: 50%;
    }
    .header img  {
        width: 50%;
    }
    #header {
        padding: 15px 0;
    }
    .footer button {
        width: 116px;
        height: 29px;
        border: 1px solid #EB2D66;
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
        color: #EB2D66;
        transition: .4s;
    }
    .header-price {
        width: 93px;
    }

}
@media (max-width: 408px) {
    .hero-title h1 {
        font-size: 28px;
    }

    .hero-title p {
        font-size: 14px;
    }

    .hero-title button {
        width: 127px;
        height: 31px;
        font-size: 9px;
    }

    .hero-img img {
        width: 50%;
        margin-left: 70px;
    }

    .hero-drone img {
        width: 40%;
    }

    .hero-drone {
        bottom: 48px;
        left: -116px;
    }

    .hero-img-title {
        bottom: 32px;
        right: 194px;
    }

    .hero-img-title h1 {
        font-size: 11px;
    }

    .hero-img-title p {
        font-size: 8px;
    }

    .hero-img-title h2 {
        font-size: 8px;
    }

    .figur {
        bottom: -89px;
        right: 148px;
    }

    .figurs {
        bottom: -176px;
        left: 46px;
        width: 115px;
        /* height: 15px; */
    }

    .ion {
        bottom: -185px;
        right: 33px;
        font-size: 18px;
    }
    .hero-img {
        height: 244px;
    }
    .blocks {
        width: 372px;
        font-size: 1px;
    }
    .card h1 {
        font-size: 15px;
    }
    .card img {
        width: 70%;
    }
    .card-title-left p {
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        color: #2C3BA0;
    }
    .card-title-right p {
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        color: #646986;
    }
    .card-title {
        padding: 20px 2px;
    }
    .card-price h2 {
        font-size: 14px;
    }
    .card-price a {
        font-size: 24px;
    }
    .card {
        height: 356px;
    }
    .line {
        width: 75%;
        margin-left: 48px;
    }
    .music-left-title {
        bottom: 95px;
        left: 72px;
    }
    .music-left-title h1 {
        font-size: 18px;
    }
    .music-left-title p {
        font-size: 12px;
    }
    .music-figur1 {
        top: 113px;
        left: 51px;
        width: 16px;
        height: 16px;
    }
    .music-figur2 {
        top: 34px;
        left: 280px;
        width: 16px;
        height: 16px;
    }
    .music-right-title h1 {
        font-size: 16px;
    }
    .music-right-title p {
        font-weight: 400;
        font-size: 12px;
        line-height: 135.9%;
        color: #FFFFFF;
    }
    .music-icon1 {
        top: 158px;
        left: 52px;
        width: 16px;
        height: 16px;
    }
    .music-right-title {
        top: 175px;
        left: 74px;
    }
    .music-icon2 {
        top: 42px;
        left: 306px;
        width: 16px;
        height: 16px;
    }
    .catalog-title {
        font-weight: 900;
        font-size: 21px;
        color: #2A2D46;
        padding: 60px 0;
    }
    .number-title {
        font-weight: 900;
        font-size: 18px;
        color: #2A2D46;
        padding: 50px 0;
    }
    .number h1 {
        font-size: 32px;
    }
    .number p {
        font-size: 10px;
        padding: 0 2px;
    }
    .number {
        width: 361px;
    }
    .footer img {
        width: 50%;
    }
    .header img  {
        width: 50%;
    }
    #header {
        padding: 15px 0;
    }
    .footer button {
        width: 116px;
        height: 29px;
        border: 1px solid #EB2D66;
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
        color: #EB2D66;
        transition: .4s;
    }
    .header-price {
        width: 93px;
    }

}
@media (max-width: 376px) {
    .hero-title h1 {
        font-size: 22px;
    }
    .hero-title p {
        font-size: 12px;
    }
    .hero-title button {
        width: 111px;
        height: 27px;
        font-size: 8px;
    }
    .hero-drone {
        bottom: 48px;
        left: -104px;
    }
    .figur {
        bottom: -83px;
        right: 139px;
    }
    .hero-img-title {
        bottom: 32px;
        right: 194px;
    }
    .ion {
        bottom: -183px;
        right: 21px;
        font-size: 17px;
    }
    .figurs {
        bottom: -176px;
        left: 36px;
        width: 97px;
        /* height: 15px; */
    }
    .blocks-label label {
        margin: 0 10px;
        font-weight: 400;
        font-size: 11px;
        color: #2A2D46;
    }
    .blocks {
        width: 340px;
        font-size: 1px;
    }
    .card h1 {
        font-size: 13px;
    }
    .card img {
        width: 60%;
    }
    .card-title-left p {
        font-weight: 400;
        font-size: 9px;
        line-height: 19px;
        color: #2C3BA0;
    }
    .card-title-right p {
         font-weight: 400;
         font-size: 9px;
         line-height: 19px;
         color: #2C3BA0;
     }
    .card-price h2 {
        font-size: 12px;
    }
    .card-price a {
        font-size: 20px;
    }
    .card-title {
        padding: 19px 20px;
    }
    .card {
        height: 325px;
        width: 180px;
    }
    .number-title {
        font-weight: 900;
        font-size: 16px;
        color: #2A2D46;
        padding: 50px 0;
    }
    .number h1 {
        font-size: 28px;
    }
    .number p {
        font-size: 8px;
        padding: 0 2px;
    }
    .number {
        width: 320px;
    }
    .footer {
        padding: 41px 0;
    }
    .footer img {
        width: 40%;
    }
    .header img {
         width: 40%;
     }
    .footer button {
        width: 95px;
        height: 23px;
        border: 1px solid #EB2D66;
        font-weight: 700;
        font-size: 9px;
        line-height: 13px;
        color: #EB2D66;
        transition: .4s;
    }
    .music-left-title h1 {
        font-size: 16px;
    }
    .music-left-title p {
        font-size: 10px;
    }
    .music-figur1 {
        top: 113px;
        left: 51px;
        width: 14px;
        height: 14px;
    }
    .music-figur2 {
        top: 30px;
        left: 268px;
        width: 14px;
        height: 14px;
    }
    .music-right-title h1 {
        font-size: 14px;
    }
    .music-right-title {
        top: 158px;
        left: 67px;
    }
    .music-right-title p {
        font-weight: 400;
        font-size: 10px;
        line-height: 135.9%;
        color: #FFFFFF;
    }
    .music-icon1 {
        top: 143px;
        left: 47px;
        width: 14px;
        height: 14px;
    }
    .music-icon2 {
        top: 39px;
        left: 291px;
        width: 14px;
        height: 14px;
    }



}
@media (max-width: 320px) {
    .hero-img img {
        width: 40%;
        margin-left: 101px;
    }
    .hero-title h1 {
        font-size: 18px;
    }
    .hero-title p {
        font-size: 10px;
    }
    .hero-title button {
        width: 98px;
        height: 24px;
        font-size: 7px;
    }
    .hero-drone img {
        width: 25%;
    }
    .hero-drone {
        bottom: 84px;
        left: -161px;
    }
    .hero-img-title h1 {
        font-size: 9px;
    }
    .hero-img-title p {
        font-size: 7px;
        padding: 1px 0;
    }
    .hero-img-title h2 {
        font-size: 7px;
    }
    .hero-img-title {
        bottom: 73px;
        right: 225px;
    }
    .figur {
        width: 10px;
        height: 9px;
    }
    .figur {
        bottom: -62px;
        right: 125px;
    }
    .figurs {
        bottom: -128px;
        left: 36px;
        width: 78px;
    }
    .ion {
        bottom: -135px;
        right: 25px;
        font-size: 16px;
    }
    .blocks-label label {
        font-size: 9px;
    }
    .blocks {
        width: 296px;
        font-size: 1px;
    }
    .blocks h1 {
        font-size: 16px;
    }
    .line {
        width: 75%;
        margin-left: 32px;
    }
    .music-left-title h1 {
        font-size: 14px;
    }
    .music-left-title p {
        font-size: 8px;
    }
    .music-left-title {
        bottom: 75px;
        left: 69px;
    }
    .music-figur1 {
        top: 97px;
        left: 51px;
        width: 12px;
        height: 12px;
    }
    .music-figur2 {
        top: 27px;
        left: 223px;
        width: 12px;
        height: 12px;
    }
    .music-right-title h1 {
        font-size: 12px;
    }
    .music-right-title p {
        font-weight: 400;
        font-size: 9px;
        line-height: 135.9%;
        color: #FFFFFF;
    }
    .music-right-title {
        top: 139px;
        left: 63px;
    }
    .music-icon1 {
        top: 127px;
        left: 44px;
        width: 12px;
        height: 12px;
    }
    .music-icon2 {
        top: 33px;
        left: 248px;
        width: 12px;
        height: 12px;
    }
    .catalog-title {
        font-weight: 900;
        font-size: 20px;
        color: #2A2D46;
        padding: 60px 0;
    }
    .number h1 {
        font-size: 26px;
    }
    .number p {
        font-size: 7px;
        padding: 0 2px;
    }
    .number {
        width: 287px;
    }
    .number-title {
        font-weight: 900;
        font-size: 14px;
        color: #2A2D46;
        padding: 50px 0;
    }
    .footer button {
        width: 74px;
        height: 19px;
        border: 1px solid #EB2D66;
        font-weight: 700;
        font-size: 7px;
        line-height: 13px;
        color: #EB2D66;
        transition: .4s;
    }









    }

























